*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    background-color: #b0e0e6;
    padding: 30px 25px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 4px 10 px rgba(0,0,0, 0.2);
}

.register-container h2{
    margin-bottom: 20px;
    color: rgb( 0, 0, 0);
    opacity: 80%;
    display: flex;
    justify-content: center;
}

.form-input{
    width: 100%;
    padding: 2px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-input p{
    color: black;
    opacity: 80%;
    font-size: 18px;
}

.form-input input{
    padding: 10px;
    border: 1px solid;
    outline: none;
    border-radius: 6px;
    transition: border 0.3s;
}

.register-container button{
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 12px;
    border: none;
    background-color: #f1f1f1;
    font-weight: bold;
    cursor: pointer;
}

.register-container button:hover{
    background-color: white;
}

.to-login{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.to-login a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}